{% block delete_comment %}
    <turbo-stream action="remove" target="comment{{ commentId }}">
        <template></template>
    </turbo-stream>
    {% if remainingCommentsCount == 0 %}
        <turbo-stream action="after" target="comments">
            <template>
                <p id="no_comment" class="text-gray-500">Aucun commentaire pour l’instant.</p>
            </template>
        </turbo-stream>
    {% endif %}
{% endblock %}