<form method="post" action="{{ path('app_order_accept', {'id': order.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('accept' ~ order.id) }}">
    <button class="btn btn-accent">{{ ux_icon('mdi:hammer', { class: 'w-5 h-5' }) }}{{'order.accept'|trans}}</button>
</form>