<form method="post" action="{{ path('app_order_cancel', {'id': order.id}) }}" data-turbo-confirm="Are you sure you want to cancel this order?">
    <input type="hidden" name="_token" value="{{ csrf_token('cancel' ~ order.id) }}">
    <button class="btn btn-red">{{ ux_icon('ic:outline-delete', { class: 'w-5 h-5' }) }}<span class="md">{{'cancel.order'|trans}}</span></button>
</form>