<form method="post" action="{{ path('app_order_complete', {'id': order.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('complete' ~ order.id) }}">
    <button class="btn btn-accent">{{ ux_icon('ic:outline-delete', { class: 'w-5 h-5' }) }}<span class="md">{{'complete.order'|trans}}</span></button>
</form>