<form method="post" action="{{ path('app_order_delete', {'id': order.id}) }}" data-turbo-confirm="Are you sure you want to delete this order? Conversation will be deleted from databse only when both users delete it">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ order.id) }}">
    <button class="btn btn-red">{{ ux_icon('mdi:delete-outline', { class: 'w-5 h-5' }) }}{{'delete'|trans}}</button>
</form>
