<form method="post" action="{{ path('app_conversation_delete', {'id': conversation.id}) }}" data-turbo-confirm="Are you sure you want to delete this conversation? Conversation will be deleted from databse only when both users delete it">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ conversation.id) }}">
    <button class="btn btn-red">{{ ux_icon('mdi:delete-outline', { class: 'w-5 h-5' }) }}<span class="md">{{'delete'|trans}}</span></button>
</form>
